.biz_twitter, .biz_google_plus, .biz_facebook{
	background: url(sprite_48.png) no-repeat;display:inline-block;
}

.biz_twitter{
	background-position: 0 0;
	width: 48px;
	height: 48px;
}

.biz_google_plus{
	background-position: -104px 0;
	width: 48px;
	height: 48px;
}

.biz_facebook{
	background-position: -50px 0;
	width: 48px;
	height: 48px;
}